<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040242607294-22ebsq7nrue7kgp2n3tiv23pid3d5crb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040242607294-22ebsq7nrue7kgp2n3tiv23pid3d5crb</string>
	<key>API_KEY</key>
	<string>AIzaSyDmp4mXQRTuOSp06PeBJCFyaNdPmqMXsyM</string>
	<key>GCM_SENDER_ID</key>
	<string>1040242607294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shakib.creativefabrica</string>
	<key>PROJECT_ID</key>
	<string>creative-fabrica-assessment</string>
	<key>STORAGE_BUCKET</key>
	<string>creative-fabrica-assessment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040242607294:ios:820817c3e93676d15f4aef</string>
</dict>
</plist>